.todo {
  width: 100%;
}

.todo label {
  display: flex;
  width: 100%;
  font-size: 24px;
  line-height: 1.4em;
  padding: 6px;
}

.checkbox {
  transform: scale(2.5);
  height: 40px;
  width: 40px;
  height: auto;
  opacity: 0;
  z-index: 100;
}

.checkbox + label {
  background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23ededed%22%20stroke-width%3D%223%22/%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-position: center left;
  word-break: break-all;
  padding: 15px 15px 15px 60px;
  position: relative;
  left: -40px;
  line-height: 1.2;
  transition: color 0.4s;
}

.checkbox:checked + label {
  background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23bddad5%22%20stroke-width%3D%223%22/%3E%3Cpath%20fill%3D%22%235dc2af%22%20d%3D%22M72%2025L42%2071%2027%2056l-4%204%2020%2020%2034-52z%22/%3E%3C/svg%3E');
}

.hide {
  opacity: 0;
}

.checked {
  text-decoration: line-through;
  opacity: 0.5;
  transition: all 0.4s ease;
}

.unchecked {
  opacity: 1;
  transition: all 0.4s ease;
}

.edit {
  width: 100%;
  font-size: 24px;
  font-family: inherit;
  font-weight: inherit;
  line-height: 1.4em;
  border: 0;
  color: inherit;
  padding: 6px;
  border: 2px solid #ccc;
  background-color: transparent;
  outline: none;
}

.todo button {
  float: right;
  outline: none;
  border: none;
  width: 10%;
  background-color: transparent;
  color: wheat;
  font-size: large;
  display: none;
}

.edit:focus > button {
  display: none;
}

.todo:hover > button {
  color: wheat;
  display: block;
}
